.input {
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 2.5rem;
  width: 100%;
  padding: 10px 15px;
}

.container {
  min-height: 100vh;
  display: flex;
}

.container section {
  width: 60vw;
  margin-right: 1rem;
}

.container aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 250px;
  min-height: 450px;
  text-align: center;
  position: sticky;
  top: 90px;
  height: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
}

.container fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.container p {
  text-align: left;
  padding: 0;
}

.link {
  color: var(--color-blue);
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container section {
    width: 100%;
  }

  .container aside {
    width: 100%;
    position: relative;
  }
}

.card {
  padding: 2rem;
  margin: 1rem 0;
  background-color: white;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

.hidden {
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls textarea {
  height: 60vh;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.checkbox {
  display: flex;
  justify-content: center;
}
